{% extends 'layout.html' %}
{% block content %}
<h2>Laporan</h2>

<h3>Driver Paling Sering Telat</h3>
<ol>
    {% for d in telat %}
        <li>{{ d[0] }} - {{ d[1] }} kali telat</li>
    {% endfor %}
</ol>

<h3>Driver dengan Total Biaya Tertinggi</h3>
<ol>
    {% for c in cost %}
        <li>{{ c[0] }} - Rp{{ c[1] }}</li>
    {% endfor %}
</ol>

<h3>Driver dengan Jarak Tempuh Terjauh</h3>
<ul>
    {% for d in dist %}
        <li>{{ d[0] }} - {{ d[1] }} km</li>
    {% endfor %}
</ul>

<h3>Grafik Jarak dan Biaya per Driver</h3>
<img src="/static/driver_graph.png" width="600">
{% endblock %}
