{% extends 'layout.html' %}
{% block content %}
<h2>Data Rute</h2>
<form method="POST">
    <input name="start" placeholder="Point Awal" required>
    <input name="end" placeholder="Point Akhir" required>
    <input name="distance" type="number" placeholder="Jarak" required>
    <input name="std_time" type="number" placeholder="Waktu Standar" required>
    <input name="price" type="number" placeholder="Harga/km" required>
    <button type="submit">Tambah Rute</button>
</form>

<ul>
    {% for r in routes %}
        <li>{{ r.start }} → {{ r.end }} | {{ r.distance }} km | Rp{{ r.total_cost }}</li>
    {% endfor %}
</ul>
{% endblock %}
